DATABASE_URL = "postgresql+asyncpg://postgres_user:password@localhost:localhost_port/database_name"

POSTGRES_USER = "password"
POSTGRES_PASSWORD = "password"
POSTGRES_DB = "database_name"


API_KEY = "adding_your_api_key"