alembic
asyncpg
bcrypt
fastapi
passlib
psycopg2-binary
pydantic[email]
pydantic-settings
PyJWT
httpx
pytest
pytest-asyncio
python-dotenv
python-multipart
sentry-sdk[fastapi]
SQLAlchemy
uvicorn
nicegui
sphinx